#image-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
}
#file {
  margin: 20px 0 0 66px;
  cursor: pointer;
}
#dateInput {
  transform: translateX(-10px);
  width: 220px;
}
#dobError {
  margin-left: 10px;
}